/* Responsive design */
/* Mobile first design */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, .todos-title, .message-prompt {
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
nav ul {
  padding: 0;
  display: inline;
}
ol {
  padding: 0;
}
ol li {
  padding: 6px;
  width: 100%;
  display: flex;
  align-items: center;
}
ol li span {
  padding-left: 6px;
}
ol li:nth-child(odd) {
  background-color: #ccc;
}

.check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: #fffafa;
  border: 2px solid #696969;
}
.check::before {
  content: '\2713';
  display: none;
  font-size: 20px;
}
.done .check::before {
  display: inline;
}
.done span {
  text-decoration: line-through;
}

.danger-btn {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding-top: 4px;
  font-weight: bold;
  margin-right: 14px;
  border-radius: 4px;
  background-color: #ff5349;
}

/* message prompt state */
.message-prompt {
  display: none;
}
.message-prompt-title {
  color: #dc3545
}
.info {
  color: #17a2b8;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}
header, section {
  width: 100%;
  margin-right: 8px;
  /* display: flex; */
  justify-content: left;
  align-items: center;
}
nav {
  padding: 12px;
}
header {
  background-color: #5995DA;
}
input[type=text] {
  width: 100%;
  padding: 8px;
  border: 2px solid #696969;
  border-radius: 2px;
}
input[type=checkbox] {
  display: none;
}
/* end of Mobile first design */

/* Tablet styles */
@media only screen and (min-width: 401px) and (max-width: 767px) {
}

/* Desktop styles */
@media only screen and (min-width: 769px) {
  main, nav {
    width: 500px;
    margin: 0 auto;
  }
}
